.container {
    text-align: center;
    display: flex;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}


.login-page{
    color: white;
    height: 60px;
    line-height: 60px;
}

.infobox{
    background-color: white;
    border-radius: 15px;
    width: 40%;
    height: 200px;
    margin: 30px auto;
    padding: 40px 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.passwordlabel{
    width: 150px;
    text-align: left;
}


.mail {
    text-align: leftß;
    
}

.login-button{
    background-color: rgb(220,0,12);
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    font-size: 14px;
}

.login-button:hover {
    background-color: rgb(255, 0, 47);
}

.register-button{
    border: none;
    background-color: white;
    color: rgb(220,0,12);
    font-size: 16px;
}